@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

body{
    color: rgb(94, 198, 253);
    background-color: #0f2635;
    font-family: 'Hind', sans-serif;
    margin: 0;
}

::selection{
    color: #0f2635;
    background: #0098b3;
}

h1,h2,h3,h4,h5,h6{
    margin: 16px 0;
    padding: 0;
    font-family: 'Archivo Black', sans-serif
}

.headerContainer{
    display: flex;
}

ul{
    list-style: none;
}

li{
    font-size: 1.25rem;
}

li>a{
    font-family: 'Archivo Black', sans-serif;
    color: #09D4FA;
    text-decoration: none;
}

main{
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}

/* class styling */
.header{
    padding: 15px;
    box-shadow: 0 0 10px #00d9ff;
    height: 60px;
}

.navContainer{
    padding: 0 30px;
    display: flex;
}

.mainContainer{
    width: 1500px;
}

.landingWrapper{
  height: 52vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 30px 0;
}

.landingContainer{
  width: 85%;
}

.landingContainer>p{
  text-align: start;
  margin: 0;
  font-size: 60px;
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 0 10px #00d9ff;
  color: #00d9ff;
}

.services{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.servicesRow{
    margin: 15px;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.serviceWrapper{
    padding: 15px;
    margin: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #0f2635;
    transition: 750ms all ease-in-out;
}

.serviceWrapper:hover{
    transition: 750ms all ease-in-out;
    transform: scale(1.1, 1.1);
    border: solid 1px #00d9ff;
}

.serviceIconContainer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #00d9ff;
    box-shadow: 0 0 15px #00d9ff;
    background-color: #005572;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIcons{
  filter: invert(76%) sepia(76%) saturate(2069%) hue-rotate(157deg) brightness(85%) contrast(86%);
}

.serviceTitle{
    width: 100%;
    text-align: center;
}

.serviceContent{
    text-align: center;
}

.logoContainer{
    width: 50%;
    display: flex;
    align-items: center;
}

.navListContainer{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNavList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.headerNavButtons{
    transition: 300ms all ease-in-out;
}

.headerNavButtons:hover{
    font-size: 1.5rem;
    color: #022f40;
    text-shadow: 0 0 3px #00d9ff;
    transition: 300ms all ease-in-out;
}

.rowContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolioContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolioCard{
    margin: 15px;
    width: 360px;
    box-shadow: 0 0 15px #00d9ff;
    border-radius: 5px;
    text-decoration: none;
    color: #5ec6fd;
}

.portfolioCardImageContainer{
    margin: 0;
    width: 360px;
    height: 303px;
}

.portfolioImage{
    width: 360px;
    border-radius: 5px 5px 0 0;
}

.portfolioCardDescriptionContainer{
    margin: 0;
    padding: 10px;
}

.information{
    margin: 30px 0;
}

.aboutPics{
    shape-outside: circle(50%);
}

.testBlock{
    display: flex;
    width: 1080px;
}

.testImage{
    width: 250px;
    height: 250px;
    float: left ;
    shape-outside: circle(50%);
    margin-right: 1rem;
}

.testP{
    width: 250px;  
}

.imageLeftRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.imageRightRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.rowContent{
    width: 500px;
}

.leftP{
    text-align: end;
    margin-left: 15px;
}

.rightP{
    text-align: start;
    margin-right: 15px;
}

.dropDownWrapper{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 15px;
}

.footer{
    border-top: solid 1px #046e8f;
    background-color: #022f40;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #0098b3;
}

.footerWrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactWrapper{
    width: 50%;
}

.contactTitle{
    padding: 0 0 5px 0;
    border-bottom: 1px solid #0098b3;
}

.listContainer{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.contactMe{
    text-decoration: none;
    color: #0098b3;
}

.footerContactIcons{
    height: 22px;
    padding: 0;
    margin: 0 10px -5px 0;
}

.socialWrapper{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #0098b3;
}

.socialIcons{
    width: 30px;
    height: 30px;
}
