@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

body{
    color: rgb(94, 198, 253);
    background-color: #0f2635;
    font-family: 'Hind', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

a:hover{
    color: #00d9ff;
}

::selection{
    color: #0f2635;
    background: #0098b3;
}

h1,h2,h3,h4,h5,h6{
    margin: 16px 0;
    padding: 0;
    font-family: 'Archivo Black', sans-serif
}

.headerContainer{
    display: flex;
}

ul{
    list-style: none;
}

li{
    font-size: 1.25rem;
}

li>a{
    font-family: 'Archivo Black', sans-serif;
    color: #09D4FA;
    text-decoration: none;
}

main{
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}

/* class styling */
.logoContainer{
    text-decoration: none;
}

.mainContainer{
}

.landingWrapper{
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.landingContainer{
    /* width: 80%; */
    display: flex;
    justify-content: center;
}

.landingCta{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingTitle {
    text-align: start;
    margin: 30px 0;
    font-size: 4.5em;
    font-family: 'Neonderthaw', cursive;
    font-weight: 500;
    text-shadow: 0 0 25px #00d9ff;
    color: #00d9ff;
}

.learnMoreBtn{
    text-decoration: none;
    margin: 30px 0;
    padding: 12px 24px;
    font-size: 2em;
    color: #00d9ff;
    background-color: #0f2635;
    border: #00d9ff 3px solid;
    border-radius: 3px;
}

.learnMoreBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #00d9ff;
    color: #005572;
}

.headerTitle{
  text-align: start;
  margin: 0;
  font-size: 32px;
  font-family: 'Neonderthaw', cursive;
  font-weight: 500;
  text-shadow: 0 0 15px #00d9ff;
  color: #00d9ff;
}

.btnHidden{
    display: none;
}

.btnRevealed{
    position: fixed;
    padding: 10px;
    right: 5px;
    bottom: 15px;
    display: block;
    border: 1px solid #00d9ff;
    border-radius: 3px
}

.btnRevealed{
    cursor: pointer;
}

.services{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.servicesRow{
    margin: 15px;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.serviceWrapper{
    padding: 15px;
    margin: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #0f2635;
    transition: 750ms all ease-in-out;
}

.serviceWrapper:hover{
    transition: 750ms all ease-in-out;
    transform: scale(1.1, 1.1);
    border: solid 1px #00d9ff;
}

.serviceIconContainer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #00d9ff;
    box-shadow: 0 0 15px #00d9ff;
    background-color: #005572;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIcons{
  filter: invert(76%) sepia(76%) saturate(2069%) hue-rotate(157deg) brightness(85%) contrast(86%);
}

.serviceTitle{
    width: 100%;
    text-align: center;
}

.serviceContent{
    text-align: center;
}

.navListContainer{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNavList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.headerNavButtons{
    transition: 300ms all ease-in-out;
}

.headerNavButtons:hover{
    font-size: 1.5rem;
    color: #022f40;
    text-shadow: 0 0 3px #00d9ff;
    transition: 300ms all ease-in-out;
}

.rowContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolioContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolioCard{
    margin: 15px;
    width: 360px;
    box-shadow: 0 0 15px #00d9ff;
    border-radius: 5px;
    text-decoration: none;
    color: #5ec6fd;
}

.portfolioCardImageContainer{
    margin: 0;
    width: 360px;
    height: 303px;
}

.portfolioImage{
    width: 360px;
    border-radius: 5px 5px 0 0;
}

.portfolioCardDescriptionContainer{
    margin: 0;
    padding: 10px;
}

.information{
    margin: 30px 0;
}

.aboutPics{
    shape-outside: circle(50%);
}

.testBlock{
    display: flex;
    width: 1080px;
}

.testImage{
    width: 250px;
    height: 250px;
    float: left ;
    shape-outside: circle(50%);
    margin-right: 1rem;
}

.testP{
    width: 250px;
}

.imageLeftRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
}

.imageRightRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    width: 60%;
}

.rowContent{
    width: 500px;
}

.dropDownWrapper{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 15px;
}

.footer{
    padding: 15px 0;
    border-top: solid 1px #046e8f;
    background-color: #022f40;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #0098b3;
}

.footerWrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactWrapper{
    max-width: 500px;
    width: 100%;
    border-bottom: 1px solid #0098b3;
}

.contactTitle{
    padding: 0 0 5px 0;
    border-bottom: 1px solid #0098b3;
}

.listContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.contactMe{
    text-decoration: none;
    color: #0098b3;
}

.footerContactIcons{
    height: 22px;
    padding: 0;
    margin: 0 10px -5px 0;
    filter: invert(46%) sepia(53%) saturate(6795%) hue-rotate(165deg) brightness(100%) contrast(101%);
}

.socialWrapper{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.socialIcons{
    width: 30px;
    height: 30px;
    filter: invert(46%) sepia(53%) saturate(6795%) hue-rotate(165deg) brightness(100%) contrast(101%);
}

.socialIcons:hover{
    filter: invert(63%) sepia(86%) saturate(1376%) hue-rotate(144deg) brightness(100%) contrast(104%);
}

/* headerMenu */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 60px;
    padding: 1em;
    box-shadow: 0 0 10px #00d9ff;
}

.navContainer{
    width: 70%;
    padding: 0 15px;
    min-width: 360px;
    max-width: 1256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #00d9ff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 1300px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 95px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    main{
        padding: 30px 15px;
    }
    li{
        font-size: 1rem;
    }
    .top-nav{
        width: auto;
        padding: 10px;
    }
    .mainContainer {
        width: 100%;
    }
    .landingWrapper{
        align-items: center;
    }
    .landingContainer{
        width: 100%;
    }
    .imageLeftRow{
        width: 100%;
    }

    .imageRightRow{
        width: 100%;
    }
    .footerWrapper{
        width: 100%;
    }
    .contactWrapper{
        width: 90%;
    }
}
